[flake8]
max-line-length = 120
no-accept-encodings = True
exclude =
    .git,
    .venv,
    .mypy_cache,
    .pytest_cache,
    __pycache__,
    venv,
    external_integration,
    backend_utils,
    pypoetry
    pyproject.toml
    alembic

ignore = E203,E501,W503,W505,B008,G200,PIE781,EXE002, PIE803, PIE786
select = C,E,F,G,I,P,S,W,Q,T,B,B950
per-file-ignores = __init__.py:F401

[isort]